<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Jak hrat</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<div class="menu howTo">
    <h1>Jak hrát</h1>
    <div>
        <div class="kolonka">
            <img src="obr1.png">
            <p>Posouvej auto šipkama doprava a doleva, nebo použí šipky na klávesnici</p>
        </div>
        <div class="kolonka">
            <img src="obr2.png">
            <p>Snaž se vyhnout pomalu jedoucím červeným autům</p>
            <a href="index.html" class="a">zpět</a>
        </div>
        <div class="kolonka">
            <img src="obr3.png">
            <p>Dosháhni co nejvyššího skóre</p>
        </div>
    </div>
</div>
</body>
</html>