<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Závod</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<div class="menu">
    <div>
        <h1>Závod</h1>
        <img src="obrIndex.png">
    </div>
    <div class="indexbuttons">
        <a href="hra.html" class="a" style="margin-left: 0.5em">Start</a>
        <a href="howto.html">Jak hrát</a>
        <a href="score.html">Skóre</a>
    </div>
</div>

</body>
</html>